@model UniversityApplication.Models.CourseStatics


@{
    ViewBag.Title = "CourseStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="sidebar">
        <ul>
            <li><a href="../Departments/Create">Save Department</a></li>
            <li><a href="../Departments/ShowAllDepartments">View Departments</a></li>
            <li><a href="../Courses/Create">Save Course</a></li>
            <li><a href="../Teachers/Create">Save Teacher</a></li>
            <li><a href="../CourseTeacher/AssignCourse">Course Assign to Teacher</a></li>
            <li class="corners"><a href="../CourseStaticss/CourseStatistics">View Course Statics</a></li>
            <li><a href="../Students/Create">Register Student</a></li>
            <li><a href="../Classrooms/AllocateClassRoom">Allocate Classrooms</a></li>
            <li><a href="../Classrooms/ClassScheduleAndRoomAllocation">Class Schedule and Room Allocation</a></li>
            <li><a href="../CourseStudents/StudentToCourse">Enroll in a Course</a></li>
            <li><a href="../StudentResults/SaveResult">Save Student Result</a></li>
            <li><a href="../ViewResult/Create">View Result</a></li>
            <li><a href="../Unassign/UnassignCourse">Unassign All Courses</a></li>
            <li><a href="../Unassign/Unallocate">Unallocate All Classrooms</a></li>
        </ul>
    </div>

    <div style="background-color: white; padding-left: 25%; width: 80%; height: 100%;">
        <div class="container body-content">
            <br />
            <h4>View Course Statics</h4>


            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.CourseStaticsDepartmentCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CourseStaticsDepartmentCode, @ViewBag.Departments as SelectList, "Select Department", new { @class = "form-control" })
                    </div>
                </div>


                <table class="table" style="border:1px solid gray">
                    <tr style="background:#f3f3f3">
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.CourseStaticsCourseCode)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.CourseStaticsCourseName)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.CourseStaticsCoursSemester)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.CourseStaticsCourseTeacher)
                        </th>
                    </tr>

                    <tr style="border: 1px solid #cccccc;">
                        <td style=" border 1px solid #cccccc; text-align center;">
                            <p id="CourseStaticsCourseCode"></p>

                        </td>
                        <td style="border: 1px solid #cccccc; text-align: center;">
                            <p id="CourseStaticsCourseName"></p>
                        </td>
                        <td style="border: 1px solid #cccccc; text-align: center;">
                            <p id="CourseStaticsCourseSemester"></p>
                        </td>
                        <td style="border: 1px solid #cccccc; text-align: center;">
                            <p id="CourseStaticsCourseTeacher"></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            $("#CourseStaticsDepartmentCode").change(function () {
                // this will call when Department Dropdown select change
                var departmentName = $("#CourseStaticsDepartmentCode").val();
                if (departmentName != null) {

                    var ddCredit = $("#CourseStaticsCourseCode");

                    ddCredit.empty(); // this line is for clear all items from Teacher dropdown
                    // ddCredit.append($("<option></option").val("").html("Select Teacher"));

                    // Here I will call Controller Action via Jquery to load Teacher for selected Department
                    $.ajax({
                        context: this,
                        url: "@Url.Action("GetCourseCode", "CourseStaticss")",
                        type: 'GET',
                        dataType: "json",
                        data: { departmentName: departmentName },
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $.each(data, function (i, val) {
                                ddCredit.append(
                                    $("<option></option>").text(val.CourseCode)
                                );
                            });

                        },
                        error: function () {
                            alert("error CourseStaticsCourseCode !");
                        }

                    });
                }
            });
        });

    </script>

    <script>

        $(document).ready(function () {

            $("#CourseStaticsDepartmentCode").change(function () {
                // this will call when Department Dropdown select change
                var departmentName = $("#CourseStaticsDepartmentCode").val();
                if (departmentName != null) {


                    var ddCredit = $("#CourseStaticsCourseName");
                    ddCredit.empty(); // this line is for clear all items from Teacher dropdown
                    // ddCredit.append($("<option></option").val("").html("Select Teacher"));

                    // Here I will call Controller Action via Jquery to load Teacher for selected Department
                    $.ajax({
                        context: this,
                        url: "@Url.Action("GetCourseName", "CourseStaticss")",
                        type: 'GET',
                        dataType: "json",
                        data: { departmentName: departmentName },
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $.each(data, function (i, val) {
                                ddCredit.append(
                                    $("<option></option>").text(val.CourseName)
                                );
                            });

                        },
                        error: function () {
                            alert("error CourseStaticsCourseName !");
                        }

                    });
                }
            });
        });

    </script>

    <script>

        $(document).ready(function () {

            $("#CourseStaticsDepartmentCode").change(function () {
                // this will call when Department Dropdown select change
                var departmentName = $("#CourseStaticsDepartmentCode").val();
                if (departmentName != null) {


                    var ddCredit = $("#CourseStaticsCourseSemester");
                    ddCredit.empty(); // this line is for clear all items from Teacher dropdown
                    // ddCredit.append($("<option></option").val("").html("Select Teacher"));

                    // Here I will call Controller Action via Jquery to load Teacher for selected Department
                    $.ajax({
                        context: this,
                        url: "@Url.Action("GetCourseSemester", "CourseStaticss")",
                        type: 'GET',
                        dataType: "json",
                        data: { departmentName: departmentName },
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $.each(data, function (i, val) {
                                ddCredit.append(
                                    $("<option></option>").text(val.CourseSemester)
                                );
                            });

                        },
                        error: function () {
                            alert("error CourseStaticsCourseSemester !");
                        }

                    });
                }
            });
        });

    </script>


    <script>

        $(document).ready(function () {

            $("#CourseStaticsDepartmentCode").change(function () {
                // this will call when Department Dropdown select change
                var departmentName = $("#CourseStaticsDepartmentCode").val();
                if (departmentName != null) {


                    var ddCredit = $("#CourseStaticsCourseTeacher");
                    ddCredit.empty(); // this line is for clear all items from Teacher dropdown
                    // ddCredit.append($("<option></option").val("").html("Select Teacher"));

                    // Here I will call Controller Action via Jquery to load Teacher for selected Department
                    $.ajax({
                        context: this,
                        url: "@Url.Action("GetCourseTeacher", "CourseStaticss")",
                        type: 'GET',
                        dataType: "json",
                        data: { departmentName: departmentName },
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $.each(data, function (i, val) {
                                ddCredit.append(
                                    $("<option></option>").text(val.TeacherName)
                                );
                            });

                        },
                        error: function () {
                            alert("error CourseStaticsCourseTeacher !");
                        }

                    });
                }
            });
        });

    </script>
}